<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.ItemMapper">
    <resultMap id="BaseResultMap" type="com.itheima.pojo.TbItem" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="sell_point" property="sellPoint" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="BIGINT" />
        <result column="num" property="num" jdbcType="INTEGER" />
        <result column="barcode" property="barcode" jdbcType="VARCHAR" />
        <result column="image" property="image" jdbcType="VARCHAR" />
        <result column="cid" property="cid" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="getItemById" resultMap="BaseResultMap" parameterType="Long" >
        select * from tb_item where id = #{v}
    </select>

    <select id="getItems" resultMap="BaseResultMap" parameterType="Integer">
        <!--select * from tb_item order by #{price}-->
        select * from tb_item order by price limit ${startRow},${pageSize}
    </select>

    <select id="getTotalCount" resultType="Integer" >
        select count(1) from tb_item
    </select>

    <insert id="saveTbItem" parameterType="com.itheima.pojo.TbItem">
        insert into tb_item (id,cid,title,sell_point,price,num,barcode,image,created,updated) values (#{id},#{cid},#{title},#{sellPoint},#{price},#{num},#{barcode},#{image},#{created},#{updated})
    </insert>

    <insert id="saveTbItemDesc" parameterType="com.itheima.pojo.TbItemDesc">
        insert into tb_item_desc (item_id,item_desc,created,updated) values (#{itemId},#{itemDesc},#{created},#{updated})
    </insert>
</mapper>